* {
  margin: 0;
  padding: 0;
  outline: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

a {
  display: inline-block; }

a:hover,
a:focus {
  text-decoration: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.column-background-m1 {
  background: #fff; }

.head-title h3 {
  text-transform: uppercase;
  font-size: 24px;
  color: #bebaba;
  padding-bottom: 8px;
  font-family: fantasy; }
.head-title p {
  font-family: sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  padding-bottom: 25px;
  color: #777; }

/*========================================================================*/
.main-menu {
  background: #fff;
  z-index: 9999; }
  .main-menu .nav-item .navbar-brand {
    padding: 5px 15px 0px 15px !important; }
  .main-menu .nav-item .nav-link {
    font-size: 17px;
    padding: 0;
    padding: 15px 17px;
    font-family: sans-serif;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear; }
    .main-menu .nav-item .nav-link:hover {
      background: rgba(109, 193, 7, 0.8);
      color: #fff; }

/*============================
Baner Part Start
/*============================*/
#baner {
  background: url(../images/water.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0 80px 0;
  position: relative; }
  #baner::before {
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    position: absolute; }
  #baner::after {
    width: 20px;
    height: 20px;
    background: #ffffff;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform: translateX(-50%) translateY(-50%) rotate(45deg); }
  #baner .box-text .box-title {
    font-family: fantasy;
    line-height: 45px;
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
    overflow: hidden;
    text-align: center; }
    #baner .box-text .box-title h2 {
      text-transform: capitalize;
      font-size: 40px;
      font-weight: 300;
      color: #173053; }
    #baner .box-text .box-title h1 {
      font-size: 60px;
      font-weight: 300;
      text-transform: uppercase;
      color: #460d0d; }
  #baner .box-text .box-bottom {
    font-family: serif;
    text-align: center;
    margin: 10px 0; }
    #baner .box-text .box-bottom h2 {
      font-size: 30px;
      background: #311616;
      display: inline-block;
      padding: 10px 35px;
      color: aliceblue;
      -webkit-transform: rotate(-8deg);
              transform: rotate(-8deg);
      border: 10px solid transparent;
      -ms-border-image: url(../images/border.png) 30 stretch;
      -o-border-image: url(../images/border.png) 30 stretch;
      border-image: url(../images/border.png) 30 stretch; }

/*============================
Baner Part ends
/*============================*/
/*============================
smug Part START
/*============================*/
#smug {
  padding: 30px 0; }
  #smug .item {
    background: #6dc107;
    padding: 25px 10px;
    -webkit-box-shadow: 10px 10px 3px #ddd;
            box-shadow: 10px 10px 3px #ddd;
    border: 8px solid transparent;
    -ms-border-image: url(../images/border.png) 30 stretch;
    -o-border-image: url(../images/border.png) 30 stretch;
    border-image: url(../images/border.png) 30 stretch; }
    #smug .item i {
      width: 60px;
      height: 60px;
      background: #173053;
      display: inline-block;
      color: #fff;
      border-radius: 50%;
      line-height: 60px;
      font-size: 26px; }
    #smug .item h6 {
      font-size: 26px;
      font-family: serif;
      line-height: 28px;
      padding-bottom: 5px;
      padding-top: 10px;
      color: #fff; }
    #smug .item p {
      font-size: 15px;
      font-family: sans-serif;
      line-height: 19px;
      padding: 0 15px;
      color: #f5f5f5; }

/*============================
smug Part ENDS
/*============================*/
/*============================
temoplates Part start
/*============================*/
#template {
  background: url(../images/Dawn_1280x960.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  background-attachment: fixed;
  background-position: center;
  margin: 30px 0;
  position: relative; }
  #template::before {
    position: absolute;
    width: 100%;
    content: "";
    height: 100%;
    background: rgba(39, 37, 37, 0.7);
    left: 0;
    bottom: 0; }
  #template .text h2 {
    color: #fff;
    font-weight: 50;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 10px; }
  #template .text p {
    color: #fff;
    font-weight: 50;
    font-size: 15px;
    padding: 0 60px; }

/*============================
temoplates Part ends
/*============================*/
/*============================
RUMS Part ends
/*============================*/
#rums {
  padding: 30px 0; }
  #rums .img {
    position: relative; }
    #rums .img .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px 15px; }
      #rums .img .overlay h5 {
        color: #fff;
        font-weight: 50;
        font-size: 19px;
        line-height: 23px;
        padding-bottom: 8px; }
      #rums .img .overlay a {
        color: #fff;
        font-weight: 50;
        font-size: 17px;
        background: #6dc107;
        padding: 2px 15px;
        border-radius: 15px; }
    #rums .img::before {
      position: absolute;
      width: 100%;
      content: "";
      height: 100%;
      background: rgba(39, 37, 37, 0.2);
      left: 0;
      bottom: 0;
      -webkit-transition: 0.3s all linear;
      transition: 0.3s all linear; }
    #rums .img:hover::before {
      background: rgba(39, 37, 37, 0); }

/*============================
RUMS Part ends
/*============================*/
/*============================
beauty Part ends
/*============================*/
#beauty {
  padding: 30px 0;
  background: #f8f8f8;
  margin: 30px 0; }
  #beauty .similar-title {
    font-weight: 400;
    font-family: sans-serif;
    font-size: 23px;
    line-height: 28px;
    word-break: keep-all;
    padding: 0 20px 20px 20px;
    color: #6c6c6c; }
  #beauty .left-text,
  #beauty .img,
  #beauty .right-text {
    padding: 15px 0; }
  #beauty .each-critiry {
    padding: 8px 0; }
  #beauty .left-text .critiry-text h6 {
    font-size: 19px;
    font-family: serif;
    line-height: 21px;
    padding-bottom: 5px; }
  #beauty .left-text .critiry-text p {
    font-size: 15px;
    font-family: serif; }
  #beauty .img img {
    border: 10px solid transparent;
    -ms-border-image: url(../images/border.png) 30 stretch;
    -o-border-image: url(../images/border.png) 30 stretch;
    border-image: url(../images/border.png) 30 stretch; }

/*============================
beauty Part ends
/*============================*/
/*============================
we do Part ends
/*============================*/
#wedo {
  padding: 50px 0; }
  #wedo .head-title {
    padding-bottom: 25px; }
  #wedo .item {
    /*    border: 1px solid #6dc107;*/
    /*    padding-bottom: 60px;*/
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #f4f4f4;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear; }
    #wedo .item .head-part h3 {
      background: #f4f4f4;
      padding: 15px;
      color: #262626;
      font-weight: 50;
      font-size: 28px;
      line-height: 32px;
      -webkit-transition: 0.2s all linear;
      transition: 0.2s all linear; }
    #wedo .item:hover .head-part h3 {
      background: #6dc107;
      color: #fff; }
    #wedo .item .circle-div {
      background: #ffffff;
      padding: 25px 0; }
      #wedo .item .circle-div .circle {
        width: 150px;
        height: 150px;
        background: #fff;
        border-radius: 50%;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border: 1px solid #f0f0f0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-transition: 0.2s all linear;
        transition: 0.2s all linear; }
        #wedo .item .circle-div .circle h5 {
          font-size: 42px;
          font-family: sans-serif;
          line-height: 19px;
          font-weight: 600;
          -webkit-transition: 0.2s all linear;
          transition: 0.2s all linear; }
          #wedo .item .circle-div .circle h5 span {
            font-size: 24px;
            font-weight: 600; }
        #wedo .item .circle-div .circle p {
          color: #777; }
    #wedo .item:hover .circle-div .circle {
      border-color: #6dc107;
      border-style: dotted; }
    #wedo .item:hover .circle-div .circle h5 {
      color: #6dc107; }
    #wedo .item .service-info {
      background: #f4f4f4;
      padding: 25px 0 40px 0;
      position: relative;
      overflow: hidden;
      z-index: 1; }
      #wedo .item .service-info::before {
        width: 361%;
        height: 150%;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -mz-transform: rotate(-45deg);
        content: "";
        position: absolute;
        left: -100px;
        bottom: 22px;
        border: 1px solid #e8e8e8;
        background: #f0f0f0;
        z-index: -1;
        -webkit-box-shadow: 0px 5px 15px silver;
                box-shadow: 0px 5px 15px silver;
        border: 10px solid #ffffff; }
      #wedo .item .service-info::after {
        width: 361%;
        height: 150%;
        transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        -o-transform: rotate(35deg);
        -mz-transform: rotate(35deg);
        content: "";
        position: absolute;
        left: -100px;
        bottom: 22px;
        border: 1px solid #e8e8e8;
        background: #f0f0f0;
        z-index: -1;
        -webkit-box-shadow: 0px 5px 15px silver;
                box-shadow: 0px 5px 15px silver;
        border: 10px solid #ffffff; }
      #wedo .item .service-info ul li {
        font-weight: 400;
        color: #696969;
        font-size: 15px; }
    #wedo .item .link-div a {
      position: absolute;
      background: #eaeaea;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      -mz-transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      border: 1.5px dashed #173053;
      padding: 5px 15px;
      border-radius: 10px;
      color: #333;
      text-transform: uppercase;
      font-weight: 50;
      box-shadow: 0px 5px 5px #ebeaea;
      -webkit-box-shadow: 0px 5px 5px #ebeaea;
      -ms-box-shadow: 0px 5px 5px #ebeaea;
      -o-box-shadow: 0px 5px 5px #ebeaea;
      -mz-box-shadow: 0px 5px 5px #ebeaea;
      -webkit-transition: 0.2s all linear;
      transition: 0.2s all linear; }
    #wedo .item:hover .link-div a {
      background: #6dc107;
      color: #fff;
      border-color: #fff; }

/*============================
we do Part ends
/*============================*/
/*============================
promo Part start
/*============================*/
#promo {
  padding: 30px 0;
  background: #fafafa;
  margin: 30px 0; }
  #promo .text {
    padding: 25px 15px 25px 15px; }
    #promo .text h4 {
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      color: #6dc107; }
    #promo .text p {
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      font-family: serif;
      color: #555;
      padding: 10px 0 15px 0; }
    #promo .text a {
      background: #6dc107;
      color: #fff;
      padding: 8px 15px;
      border-radius: 5px 10px;
      font-family: fantasy;
      font-size: 19px;
      letter-spacing: 1px;
      border: 1px solid transparent; }
      #promo .text a:hover {
        background: #fff;
        color: #6dc107;
        border: 1px dotted #6dc107; }
  #promo .img {
    position: relative; }
    #promo .img img {
      border-radius: 5px; }
    #promo .img .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(109, 193, 7, 0.3);
      -webkit-transition: 0.3s all linear;
      transition: 0.3s all linear;
      transform: scaleY(0);
      -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      -mz-transform: scaleY(0); }
      #promo .img .overlay a {
        width: 45px;
        height: 45px;
        background: rgba(209, 209, 209, 0.5);
        border-radius: 8px;
        line-height: 45px;
        text-align: center;
        font-size: 19px;
        -webkit-box-shadow: 0px 0px 2px white;
                box-shadow: 0px 0px 2px white;
        color: #fff;
        font-weight: 600; }
    #promo .img:hover .overlay {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      -mz-transform: scaleY(1); }

/*============================
promo Part ends
/*============================*/
/*============================
team Part ends
/*============================*/
#team {
  padding: 30px 0; }
  #team .head-title {
    padding-bottom: 35px; }
  #team .item .team-top-part {
    border: 2px solid #f0f0f0;
    position: relative; }
    #team .item .team-top-part .left-image {
      position: absolute;
      left: 20px;
      bottom: -50px;
      z-index: 1; }
    #team .item .team-top-part .right-image {
      right: 20px;
      bottom: -50px;
      z-index: 1;
      position: absolute; }
  #team .item .team-bottom-part {
    border: 2px solid #f0f0f0;
    padding: 25px 10px 15px 10px;
    margin-top: 30px;
    position: relative; }
    #team .item .team-bottom-part .skills-div {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      -mz-transform: translateX(-50%) translateY(-50%);
      -webkit-transition: 0.3s all linear;
      transition: 0.3s all linear;
      top: 0;
      font-size: 21px;
      font-family: sans-serif;
      background: #fff;
      -webkit-box-shadow: 0px 0px 5px #ffffff;
              box-shadow: 0px 0px 5px #ffffff;
      padding: 5px 25px;
      border: 2px solid #f0f0f0; }
    #team .item .team-bottom-part:hover .skills-div {
      background: #6dc107;
      color: #fff;
      -webkit-box-shadow: none;
              box-shadow: none; }
  #team .item .team-titles h3 {
    font-weight: 400;
    font-size: 28px; }
    #team .item .team-titles h3 span {
      display: block; }
  #team .item .team-titles h6 {
    font-size: 17px;
    font-family: serif;
    color: #555;
    padding: 5px 0 15px 0; }
  #team .item .team-titles p {
    font-size: 16px;
    font-family: serif;
    color: #444;
    padding: 5px 0 15px 0;
    line-height: 19px; }
    #team .item .team-titles p span {
      text-transform: capitalize;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 15px; }
  #team .progress-bar {
    background: none; }
    #team .progress-bar .title {
      text-align: left;
      color: #757674;
      text-transform: capitalize;
      font-weight: 600; }

/*============================
team Part ends
/*============================*/
/*============================
feedback Part start
/*============================*/
#feedback {
  margin: 60px 0; }
  #feedback .feedback-div-contain {
    padding: 60px 0;
    background: url(../images/wallpaper_just_cause_01_1920x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    #feedback .feedback-div-contain::before {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      content: "";
      left: 0;
      bottom: 0; }
    #feedback .feedback-div-contain .text-left h2 {
      color: #fff;
      font-weight: 400;
      font-size: 40px;
      line-height: 46px; }
      #feedback .feedback-div-contain .text-left h2 span {
        color: #6dc107; }
    #feedback .feedback-div-contain .text-left p {
      color: #f7f7f7;
      font-size: 15.5px;
      padding-top: 10px; }
      #feedback .feedback-div-contain .text-left p span {
        color: #ffffff;
        font-size: 24px;
        text-shadow: 1px 1px 1px #161c12; }
  #feedback form {
    background: #fff;
    padding: 30px 15px;
    -webkit-box-shadow: 0px 0px 15px #141414;
            box-shadow: 0px 0px 15px #141414; }
    #feedback form h5 {
      font-size: 19px;
      font-weight: 600;
      font-family: sans-serif; }
    #feedback form p {
      font-size: 14px;
      font-family: sans-serif;
      padding: 5px 0 10px 0; }
    #feedback form input,
    #feedback form textarea,
    #feedback form button {
      border-radius: 0; }
    #feedback form input,
    #feedback form textarea {
      font-family: serif; }
    #feedback form input::-webkit-input-placeholder,
    #feedback form textarea::-webkit-input-placeholder {
      font-family: serif;
      font-size: 14px;
      color: #777; }
    #feedback form input:-ms-input-placeholder,
    #feedback form textarea:-ms-input-placeholder {
      font-family: serif;
      font-size: 14px;
      color: #777; }
    #feedback form input::-ms-input-placeholder,
    #feedback form textarea::-ms-input-placeholder {
      font-family: serif;
      font-size: 14px;
      color: #777; }
    #feedback form input::placeholder,
    #feedback form textarea::placeholder {
      font-family: serif;
      font-size: 14px;
      color: #777; }
      #feedback form input::-webkit-input-placeholder input::focus,
      #feedback form input::-webkit-input-placeholder textarea::focus,
      #feedback form textarea::-webkit-input-placeholder input::focus,
      #feedback form textarea::-webkit-input-placeholder textarea::focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        border-color: #6dc107; }
      #feedback form input:-ms-input-placeholder input::focus,
      #feedback form input:-ms-input-placeholder textarea::focus,
      #feedback form textarea:-ms-input-placeholder input::focus,
      #feedback form textarea:-ms-input-placeholder textarea::focus {
        box-shadow: none;
        border-color: #6dc107; }
      #feedback form input::-ms-input-placeholder input::focus,
      #feedback form input::-ms-input-placeholder textarea::focus,
      #feedback form textarea::-ms-input-placeholder input::focus,
      #feedback form textarea::-ms-input-placeholder textarea::focus {
        box-shadow: none;
        border-color: #6dc107; }
      #feedback form input::placeholder input::focus,
      #feedback form input::placeholder textarea::focus,
      #feedback form textarea::placeholder input::focus,
      #feedback form textarea::placeholder textarea::focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        border-color: #6dc107; }
    #feedback form button {
      background: #6dc107;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-family: sans-serif;
      -webkit-transition: 0.2s all linear;
      transition: 0.2s all linear; }
      #feedback form button:hover {
        background: #f8a149; }

/*============================
feedback Part ends
/*============================*/
/*============================
partnter Part start
/*============================*/
#partner {
  padding: 30px 0 0 0; }
  #partner .head-title {
    padding-bottom: 30px; }
  #partner .company-each {
    background: #f0f0f0;
    text-align: center;
    padding: 60px 30px;
    -webkit-box-shadow: 0px 0px 5px #d9d9d9;
            box-shadow: 0px 0px 5px #d9d9d9; }
    #partner .company-each:hover {
      -webkit-box-shadow: 0px 0px 10px #eaeaea;
              box-shadow: 0px 0px 10px #eaeaea; }

/*============================
partnter Part ends
/*============================*/
/*============================
footer Part start
/*============================*/
footer .footer-contact {
  background: url(../images/Dawn_1280x960.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  padding: 60px 0 25px 0;
  margin-top: 30px; }
  footer .footer-contact::before {
    position: absolute;
    width: 100%;
    content: "";
    height: 100%;
    background: rgba(39, 37, 37, 0.7);
    left: 0;
    bottom: 0; }
  footer .footer-contact .item.address a {
    background: #173053;
    color: #fff;
    padding: 5px 15px;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 1px #fff;
            box-shadow: 0px 0px 1px #fff;
    font-family: sans-serif; }
    footer .footer-contact .item.address a:hover {
      background: #fff;
      color: #173053; }
  footer .footer-contact .item.address p {
    word-break: break-all;
    color: #fff;
    font-family: serif;
    font-size: 17px;
    line-height: 21px;
    padding: 5px 0 5px 0; }
  footer .footer-contact .item a {
    font-family: serif;
    font-size: 17px;
    color: #fff;
    border-bottom: 1px dotted transparent; }
  footer .footer-contact .item ul li span {
    color: #fff;
    display: inline-block;
    margin-right: 15px; }
  footer .footer-contact .item ul li a:hover {
    border-bottom: 1px dotted #b2b2b2; }
  footer .footer-contact .item-column:not(:last-child) {
    border-right: 1px solid #b2b2b2; }
footer .head-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #b2b2b2; }
footer .copyright {
  background: #f0f0f0;
  padding: 10px 0; }
  footer .copyright p {
    color: #464646;
    font-size: 17px;
    font-family: serif; }

/*============================
footer Part ends
/*============================*/
