@mixin transition($property){
    -webkit-transition:$property;
    -moz-transition:$property;
    -o-transition:$property;
    -ms-transition:$property;
    transition:$property;
}

@mixin borderImage($property){
    -webkit-border-image:$property;
    -ms-border-image:$property;
    -o-border-image:$property;
    -moz-border-image:$property;
    border-image:$property;

}
@mixin transform($property){
    transform:$property;
    -webkit-transform:$property;
    -ms-transform:$property;
    -o-transform:$property;
    -mz-transform:$property;
}
@mixin shadowbox($property){
    box-shadow:$property;
    -webkit-box-shadow:$property;
    -ms-box-shadow:$property;
    -o-box-shadow:$property;
    -mz-box-shadow:$property;
}